.containerCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.034);
    padding: 20px;
    margin: 5px;
    width: 100px;
    border-radius: 5px;
}
.containerCard:hover{
    background-color: rgba(0, 0, 0, 0.356);
    transition: 0.5s;
}
.containerCard img{
    width: 80px;
}
.containerCard h1{
    font-size: 18px;
    text-align: center;
    color: rgb(61, 61, 61);
    text-decoration-style: none;
}