containerHome{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

.inputHome{
    display: flex;
    justify-content: center;
    background-color: #263238;
    padding: 20px;
}
.inputHome input{
    margin-top: 10px;
    border: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.226);
    border-radius: 5px;
    padding: 5px 50px;
    margin-bottom: 20px;
}
